@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.top {
    background-color: #111;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

.title {
    color: #5BB318;
}

.type-writer {
    color: #5BB318;

}

.btn-hire {
    background-color: #5BB318;
    padding: 5px;
}

.btn-cv {
    background-color: #5BB318;
    padding: 5px;
}

.images {
    margin-left: auto;
    margin-right: 50px;
    /* border-top: 1px solid #5BB318;
    border-bottom: 1px solid white;
    border-left: 1px solid #5BB318; */
    /* border-radius: 5px; */

}

.my1 {
    height: 350px;
    width: 250px;
}